.swiper {
	width: 600px;
	height: 450px;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
}

.swiper.swiper-creative.swiper-3d.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-watch-progress.mySwiper {
	margin-left: auto;
}
